[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
PerpNexus = "BKRPzmuiy84FuBdbbjAa1Nk8LJ2CKekVhJXi1NqTxCh9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "vitest"

[test.validator]
url = "https://api.devnet.solana.com"

[test]
startup_wait = 10000
shutdown_wait = 2000

[[test.validator.clone]]
address = "7UVimffxr9ow1uXYxsr4LHAcV58mLzhmwaeKvJ1pjLiE"